<form class="c-form" 
    {% if produto %}
        action="{{ url_for('produto.update_produto', product_id=produto.id) }}"
    {% else %}
        action="{{ url_for('produto.inserir_produtos') }}"
    {% endif %}

    method="{% if produto %}PUT{% else %}POST{% endif %}"

    {% if produto %}
        c-swap="#produto-{{produto.id}}"
    {% else %}
        c-append="#lista_produtos"
    {% endif %}

    c-reload-container="true">
            <!-- Nome do Produto -->
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Produto</label>
                <input type="text" class="form-control" name="nome" {% if produto%}value="{{produto.nome}}"{% endif%} placeholder="Digite o nome do produto" required   >
            </div>

            <!-- Quantidade em Kg -->
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade em Kg</label>
                <input type="number" step="0.001" class="form-control" name="estoque" {% if produto%}value="{{produto.estoque}}"{% endif%} placeholder="Digite a quantidade em Kg" required>
            </div>

            <!-- Preço por Kg -->
            <div class="mb-3">
                <label for="preco" class="form-label">Preço por Kg</label>
                <input type="number" step="0.001" class="form-control"  name="preco" {% if produto%}value="{{produto.preco}}"{% endif%} placeholder="Digite o preço por Kg" required>
            </div>

            <!-- Botão de envio -->
            <button type="submit" class="btn btn-primary">
                {% if produto%}Atualizar{% else%}Inserir Produto{% endif%}</button>
        </form>
 

